################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Quirke.CRM/bin/Debug/net8.0
/Quirke.CRM/obj
/Quirke.CRM/wwwroot/wwwroot.rar
/Quirke.CRM/bin/Release/net8.0
/Quirke.CRM/bin/Debug/Quirke.CRM/Logs
/Quirke.CRM/bin/Debug/Quirke.CRM/Logs/Log_17082024.log
