@model ProductModel

@{
    var title = Model.Id == 0 ? "Create Product" : "Edit Product";
}
<link href="~/lib/jquery/select2/select2.min.css" rel="stylesheet" />
<link href="~/webcore/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" rel="stylesheet" />

<style>
    .select2-selection {
        height: calc(2.25rem + 2px) !important;
    }
</style>

<div class="modal-header">
    <h5 class="modal-title" id="commonModalCenterTitle">@title</h5>
    <button type="button" class="close" aria-label="Close" onclick="funCloseModal();">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form id="productForm" asp-action="ManageProduct" method="post">
    <div class="modal-body">
        <div class="card-body">
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BrandId" class="control-label"></label>
                <select asp-for="BrandId" class="form-control" asp-items="Model.BrandList">
                    <option></option>
                </select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SupplierId" class="control-label"></label>
                <select asp-for="SupplierId" class="form-control" asp-items="Model.SupplierList">
                    <option></option>
                </select>
                <span asp-validation-for="SupplierId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="QuantityInStock" class="control-label"></label>
                <input asp-for="QuantityInStock" class="form-control" />
                <span asp-validation-for="QuantityInStock" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <input asp-for="IsActive" class="form-check-input" />
                <label asp-for="IsActive" class="form-check-label"></label>
            </div>
        </div>
    </div>

    <div class="modal-footer text-center">
        <button type="button" class="btn btn-danger" onclick="funCloseModal()">Close</button>
        <button type="submit" class="btn btn-success"><i class="fa fa-save mr-2"></i>Save</button>
    </div>
</form>

<script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation/additional-methods.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/jquery/select2/select2.full.js"></script>

<script>
    $(document).ready(function () {

        $("#BrandId").select2({
            placeholder: "Select Brand",
            allowClear: true,
            width: 'resolve',
            outerHeight: 'resolve',
        });

        $("#SupplierId").select2({
            placeholder: "Select Supplier",
            allowClear: true,
            width: 'resolve',
            outerHeight: 'resolve',
        });

        $('#productForm').submit(function (e) {
            e.preventDefault();

            var form = $(this);
            var formData = new FormData(this);

            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response == null) {
                        return false;
                    }

                    if (response.result) {
                        Swal.fire({
                            title: 'Success!',
                            text: response.msg,
                            icon: 'success',
                            confirmButtonText: 'OK'
                        }).then(() => {
                            funCloseModal();
                        });
                    } else {
                        Swal.fire({
                            title: 'Error!',
                            text: 'Failed to save product.',
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Submission failed: ", error);
                    Swal.fire({
                        title: 'Submission Failed!',
                        text: "There was an issue submitting your request. Please try again.",
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                }
            });
        });
    });
</script>
