@model EmployeeLeaveModel

@{
    ViewData["Title"] = Model.Id == 0 ? "Create Leave" : "Edit Leave";
}

<section class="content pt-3">
    <div class="container-fluid">
        <div class="card card-default color-palette-box">
            <div class="card-header">
                <h1 class="card-title">Employee Leave - @ViewData["Title"]</h1>
                <a class="btn btn-primary btn-sm float-right ml-2" href="@Url.Action("Manage", "Employee", new { id = Model.EmployeeId })">Back to Employee</a>
            </div>
            <div class="card-body">
                <form asp-action="ManageLeave" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="EmployeeId" />
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="PendingLeave" />
                    <div class="form-group">
                        <label asp-for="LeaveTypeId" class="control-label"></label>
                        <select asp-for="LeaveTypeId" class="form-control" asp-items="Model.LeaveTypeList">
                            <option value="">Select Leave Type</option>
                        </select>
                        <span asp-validation-for="LeaveTypeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AvailableLeave" class="control-label"></label>
                        <input asp-for="AvailableLeave" class="form-control" />
                        <span asp-validation-for="AvailableLeave" class="text-danger"></span>
                    </div>
                    @* <div class="form-group">
                        <label asp-for="PendingLeave" class="control-label"></label>
                        <input asp-for="PendingLeave" class="form-control" />
                        <span asp-validation-for="PendingLeave" class="text-danger"></span>
                    </div> *@
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-success">Save &nbsp;<i class="fas fa-save"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Scripts -->
<script src="~/quirke/js/jquery-3.6.0.min.js"></script>

<!-- Add jQuery UI JS -->
<script src="~/quirke/js/jquery-ui.min.js"></script>
<script src="~/quirke/js/jquery.validate.min.js"></script>
<script src="~/quirke/js/additional-methods.min.js"></script>
<script src="~/quirke/js/jquery.validate.unobtrusive.min.js"></script>