@model MasterModel

<form asp-action="ManageMaster" method="post" id="frmMaster">
    <div class="modal-body">
        <div class="card-body">
            <input type="hidden" class="form-control" asp-for="MasterTypeId">
            <input type="hidden" class="form-control" asp-for="Id">

            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" asp-for="Name" placeholder="Enter name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer  text-center">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close &nbsp;<i class="fas fa-times"></i></button>
        <button type="submit" class="btn btn-success">Save &nbsp;<i class="fas fa-save"></i></button>
    </div>
</form>


<script src="~/quirke/js/jquery.validate.min.js"></script>
<script src="~/quirke/js/additional-methods.min.js"></script>
<script src="~/quirke/js/jquery.validate.unobtrusive.min.js"></script>