@model MasterModel

<form asp-action="ManageMaster" method="post" id="frmMaster">
    <div class="modal-body">
        <div class="card-body">
            <input type="hidden" class="form-control" asp-for="MasterTypeId">
            <input type="hidden" class="form-control" asp-for="Id">

            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" asp-for="Name" placeholder="Enter name">
            </div>
        </div>
    </div>
    <div class="modal-footer  text-center">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success"><i class="fa fa-save mr-2"></i>Save</button>
    </div>
</form>

